# -=-= Terraform =-=-
export TF_LOG=DEBUG

# -=-= Path =-=-
export PATH=/usr/local/bin:/usr/bin:${JAVA_HOME}/bin:${GOROOT}/bin:${GOPATH}/bin:$HOME/.local/bin:${PATH}

# Do not unset these ENV vars since there are aliases that rely on them
